body {
  text-align: center;
}

h2, h3, h4 {
  font-weight: normal;
}

#inputDescription {
  font-size: small;
}

#image {
  width: 70%;
  height: 70%;
}

.number-input {
  width: 50px;
}

p {
  display: inline-block;
}