body {
  text-align: center;
}

h2, h3, h4 {
  font-weight: normal;
}

#inputDescription {
  font-size: small;
}

#image {
  max-width: 100%;
  height: auto;
}

.number-input {
  width: 50px;
}

p {
  display: inline-block;
}

.hidden {
  display: none;
}